<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/vnd.microsoft.icon' />
    <script language='javascript' type='text/javascript' src='/javascripts/libs/jquery.min.js'></script>
    <script language='javascript' type='text/javascript' src='/socket.io/libs/socket.io.js'></script>
    <script language='javascript' type='text/javascript' src='/javascripts/chatClient.js'></script>
    <script language='javascript' type='text/javascript' src='/javascripts/chatUI.js'></script>
    <script language='javascript' type='text/javascript' src='/javascripts/main.js'></script>
  </head>

  <body>
    
    <div id="header">
      <div class="header-top fullBar">

        <ul class="nav nav-left">
          <li>
            <a href="javascript:void()" class="btn-setup">
              <span class="glyphicon glyphicon-th-list"></span> 
            </a>
          </li>
        </ul>

<!--        
        <ul class="nav nav-right">
          <li>
            <a href="javascript:void()" >
              <span id="user-count" class="glyphicon glyphicon-th-list"></span>
            </a>
          </li>          
        </ul>
    -->    
         <!-- <a href="#" class="">Txat</a> -->
         <div style="width:100%; text-align: center; font-size:2em;color:#fff;">Txat</div>
      </div>
    </div>
    
    <main class="container">
      <div id="setup">
        <h1>Txat</h1>
        <h2>Enter Nickname</h2>
        <a name="nickname"></a>
        <div class="row" id="nickname-input-div">
          <form id="nickname-form">
          <div class="col-sm-10">
            <input class="form-control" type="text" name="nickname" placeholder="enter your nickname here">
          </div>
          <div class="col-sm-2">
            <input class="form-control" type="submit" value="Chat!">
          </div>
          </form>
        </div>
      </div>
      
      <div id="chat">
      
        <div id="chat-controls-wrapper">
          <div id="chat-controls" class="fullBar">
            <div id="chat-controls-row">
              <form id="chat-form">
              
                <button type="button" class="form-control btn-emoji">
                    <span class="glyphicon glyphicon-star-empty"></span>
                </button> 
                
                <div style="width:100%">
                  <input class="form-control" type="text" name="chat">
                </div>
                
                <button class="form-control" type="submit">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            
              </form>
            </div>
          </div>
        </div>

        <div class="row">

          <div id="chat-users" class="col-sm-4 hidden-xs" class="list-group">

            <div class="panel panel-default" id="myself">
              <a class="list-group-item btn-setup" href="#">
                <span class="glyphicon glyphicon-user"></span> 
                <span class="name"></span>
              </a>
            </div>
            
            <div class="panel panel-default" id="chat-users-list">
              <div class="panel-heading">
                online users
              </div>
            </div>
            
          </div>
          
          <div id="chat-container" class="col-sm-8">
            <div id="chat-wrapper">
              <div id="chat-main">

              </div>
            </div><!--chat-wrapper -->
          </div><!--chat-container-->
          
        </div>
      </div>
      
    </main>
  </body>
</html>
